*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/regalos/example/com/gestorderegalos/Registro.java
app/src/main/java/regalos/example/com/gestorderegalos/Registro.java
